<div style="color:#483838; padding:0px 10px; border-radius:5px; font-size:18px; text-align:center"><h1 style='margin:10px 5px'>Pandas_DataFrame_part2</h1>
</div>

- __01)Reading a csv file as a DataFrame__
- __02)omit the explanation line at the top of our DataFram__
- __03)omit the comment rows__
- __04)what should we do if the csv file does not have header?__

In [1]:
import pandas as pd
import numpy as np

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>01)Reading a csv file as a DataFrame</h2>
</div>

##### Here I defined a test CSV file in order to see different issues.

##### Reading csv file as a DataFrame:

In [2]:
df = pd.read_csv(r"G:\DataFrame\mycsv.csv")

In [3]:
df

   there is a test line number 1 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0  there is a test line number 2        NaN        NaN        NaN        NaN
1                              a          b          c          d          e
2                              f          g          f          g          f
3           # this is a comment         NaN        NaN        NaN        NaN
4                              h          i          j          k          l
5                              n          o          p          q          r
6                              k          j          h          g          s

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>02)omit the explanation line at the top of our DataFram</h2>
</div>

- we see that there is 2 explanation rows at the top of our DataFrame.
- Here we should omit them like this:

In [4]:
df = pd.read_csv(r"G:\DataFrame\mycsv.csv",
                skiprows=2)  # the 2 first rows will be skipped.

In [5]:
df

                      a    b    c    d    e
0                     f    g    f    g    f
1  # this is a comment   NaN  NaN  NaN  NaN
2                     h    i    j    k    l
3                     n    o    p    q    r
4                     k    j    h    g    s

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>03)omit the comment rows</h2>
</div>

- In the DataFrame we can see there are some row which there is comment in.
- We skip them as below:

In [6]:
df = pd.read_csv(r"G:\DataFrame\mycsv.csv",
                skiprows=2,
                comment='#')
df

   a  b  c  d  e
0  f  g  f  g  f
1  h  i  j  k  l
2  n  o  p  q  r
3  k  j  h  g  s

<div class="alert alert-info" style=" color:black ; padding:1px 12px; border-radius:3px;"><h2 style='margin:8px 4px; font-size:18px'>04)what should we do if the csv file does not have header?</h2>
</div>

- if there is no header row in the csv file, the Pandas suppose the first line(1st sample) as the header.
- We should tell it, not to take it as the header, and then define a header if needed as below.

In [7]:
df = pd.read_csv(r"G:\DataFrame\mycsv.csv",
                skiprows=2,
                comment='#',
                header=None)
df

   0  1  2  3  4
0  a  b  c  d  e
1  f  g  f  g  f
2  h  i  j  k  l
3  n  o  p  q  r
4  k  j  h  g  s

- it defines the numerical header itself, we are able to define our header.

In [8]:
df = pd.read_csv(r"G:\DataFrame\mycsv.csv",
                skiprows=2,
                comment='#',
                header=None,
                names=['aa', 'bb', 'cc', 'dd', 'ff'])
df

  aa bb cc dd ff
0  a  b  c  d  e
1  f  g  f  g  f
2  h  i  j  k  l
3  n  o  p  q  r
4  k  j  h  g  s